<style>
  #share-buttons {display: inline-block; vertical-align: middle; }
  #share-buttons:after {content: ""; display: block; clear: both;}
  #share-buttons > div {position: relative; text-align: left; height: 36px; width: 32px; float: left; text-align: center;}
  #share-buttons > div > svg {height: 16px; fill: #d5d5d5; margin-top: 10px;}
  #share-buttons > div:hover {cursor: pointer;}
  #share-buttons > div.facebook:hover > svg {fill: #3B5998;}
  #share-buttons > div.twitter:hover > svg {fill: #7c8891ff;}
  #share-buttons > div.linkedin:hover > svg {fill: #0077b5;}
  #share-buttons > div.gplus:hover > svg {fill: #dd4b39;}
  #share-buttons > div.mail:hover > svg {fill: #7D7D7D;}
  #share-buttons > div.instagram:hover > svg {fill: #C73B92;}
  #share-buttons > div.facebook > svg {height: 18px; margin-top: 9px;}
  #share-buttons > div.twitter > svg {height: 20px; margin-top: 8px;}
  #share-buttons > div.linkedin > svg {height: 19px; margin-top: 7px;}
  #share-buttons > div.pinterest > svg {height: 20px; margin-top: 9px;}
  #share-buttons > div.gplus > svg {height: 17px; margin-top: 9px; position: relative; left: 1px;}
  #share-buttons > div.mail > svg {height: 14px; margin-top: 11px;}
</style>

{% assign safeurl = site.url | append: page.url | url_encode %}
{% assign safetitle = page.title | url_encode %}
{% assign safetitlepre = "[Blog] " | append: page.author | append: " - " | url_encode %}

<span style="color: silver;">Kongsikan di: </span><div id="share-buttons">
  <div class="facebook" title="Kongsikan di Facebook"    onclick="window.open('http://www.facebook.com/share.php?u={{ safeurl }}','popup','width=600,height=600'); return false;">
    <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1343 12v264h-157q-86 0-116 36t-30 108v189h293l-39 296h-254v759h-306v-759h-255v-296h255v-218q0-186 104-288.5t277-102.5q147 0 228 12z"/></svg></div>
  <div class="twitter"  title="Kongsikan di X"     onclick="window.open('https://x.com/intent/tweet?url={{ safeurl }}&text={{ safetitle }}&via={{ site.twitter_username }}','popup','width=600,height=600'); return false;">
    <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M 875.163 689.284 L 1321.89 170 H 1216.03 L 828.137 620.887 L 518.328 170 H 161 L 629.492 851.821 L 161 1396.37 H 266.866 L 676.491 920.218 L 1003.672 1396.37 H 1361 L 875.137 689.284 H 875.163 Z M 730.165 857.828 L 682.697 789.934 L 305.011 249.6944 H 467.615 L 772.412 685.685 L 819.88 753.579 L 1216.08 1320.3 H 1053.476 L 730.165 857.854 V 857.828 Z"/></svg></div>
  <div class="linkedin" title="Kongsikan di Linkedin"    onclick="window.open('https://www.linkedin.com/sharing/share-offsite/?url={{ safeurl }}','popup','width=600,height=600'); return false;">
    <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M477 625v991h-330v-991h330zm21-306q1 73-50.5 122t-135.5 49h-2q-82 0-132-49t-50-122q0-74 51.5-122.5t134.5-48.5 133 48.5 51 122.5zm1166 729v568h-329v-530q0-105-40.5-164.5t-126.5-59.5q-63 0-105.5 34.5t-63.5 85.5q-11 30-11 81v553h-329q2-399 2-647t-1-296l-1-48h329v144h-2q20-32 41-56t56.5-52 87-43.5 114.5-15.5q171 0 275 113.5t104 332.5z"/></svg></div>
  <div class="mail"     title="Kongsikan melalui Email"  onclick="window.open('mailto:?&body={{ safeurl }}&subject={{ safetitlepre }}{{ safetitle }}','popup','width=600,height=600'); return false;">
    <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M1792 710v794q0 66-47 113t-113 47h-1472q-66 0-113-47t-47-113v-794q44 49 101 87 362 246 497 345 57 42 92.5 65.5t94.5 48 110 24.5h2q51 0 110-24.5t94.5-48 92.5-65.5q170-123 498-345 57-39 100-87zm0-294q0 79-49 151t-122 123q-376 261-468 325-10 7-42.5 30.5t-54 38-52 32.5-57.5 27-50 9h-2q-23 0-50-9t-57.5-27-52-32.5-54-38-42.5-30.5q-91-64-262-182.5t-205-142.5q-62-42-117-115.5t-55-136.5q0-78 41.5-130t118.5-52h1472q65 0 112.5 47t47.5 113z"/></svg></div>
</div>
<br>